{% extends "layout.html" %}

{% block title %}New Project{% endblock title %}

{% block body %}
<h2>projects:</h2>

  <ul class=projects>
  {% for project in projects %}

    <li><b>{{ project.title }} </b><a href="{{ url_for('project_edit', project_id=project.id) }}">edit</a> <a href="{{ url_for('project', project_id=project.id) }}">show</a>
    
    <!-- delete -->
    <form action="{{ url_for('project_delete', project_id=project.id) }}" method=POST>
      <input type=submit value="Delete this project">
    </form>

  {% else %}
    <li><em>Unbelievable.  No projects here so far</em>
  {% endfor %}
  </ul>

{% if session.logged_in %}

  <h2>Create a new project</h2>
  <form action="{{ url_for('projects') }}" method=POST>
    <dl>
    <dt>Title
      <dd><input type=text name=title>
    <dt>Description (optional)
      <dd><textarea name=description rows=5 cols=40></textarea>
    <dt>Category (optional)

      <select name="category_id">
          <option value="">--</option>
          {% for category in categories %}
              <option value={{ category.id }}>{{category.title}}</option>
          {% endfor %}
      </select>

    </dl>
    <p><input type=submit value=Add>
  </form>

{% endif %}

{% endblock body %}
